.Header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ecebeb;
    padding: 3px 10px 3px 10px;
    background-color: white;
    width: 100%;
}
.Headerimgwrapper {
    margin-left: 15%;
    margin-right: 2%;
}
.Headerimgwrapper .Headerimg {
    width: 103px;
    height: 29px;
    cursor: pointer;
}
.iconmenu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 18px;
    margin-right: 2em;
}
.iconmenu.iconwrapper {
    width: 22px;
    height: 22px;
}
.iconwrapper svg {
    width: 18px;
    height: 18px;
}
.iconwrapper img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
}
.iconwrapper button {
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 0;
    margin: 0;
}
.Header input {
    background-color: #fafafa;
    border: 0.5px solid #ecebeb;
    border-radius: 3px;
    height: 20px;
    width: 150px;
}

.ProfileMenu {
    display: block;
    position: absolute;
    background-color: #f1f1f1;
    top: 40px;
    right: 1%;
    width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
}
.ProfileMenu:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 11px;
    border-width: 0 9px 9px 9px;
    border-style: solid;
    border-color: #ecebeb transparent;
}

.profilemenuwrapper {
    display: flex;
    flex-direction: column;
}
.profilemenuwrapper div {
    margin-left: 10px;
    border: none;
    background-color: white;
    height: 22px;
    width: 100%;
    margin: 0;
    font-size: 11px;
    padding: 3px;
    cursor: pointer;
}
.profilemenuwrapper div:hover {
    background-color: #ecebeb;
}
.profilemenuwrapper a {
    display: block;
    padding-left: 10px;
    width: 100%;
    line-height: 22px;
    text-decoration: none;
    color: #414141;
}
.profilemenuwrapper a:visited {
    text-decoration: none;
}
::-webkit-input-placeholder {
    text-align: center;
    font-size: 0.8em;
    color: #9e9d9d;
}
::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
    font-size: 0.8em;
    color: #9e9d9d;
}
:-ms-input-placeholder {
    text-align: center;
    font-size: 0.8em;
    color: #9e9d9d;
}
.searchBox {
    position: relative;
}
.searchResultWrapper {
    margin-top: 9px;
    position: absolute;
    left: -35px;
    width: 250px;
    height: 250px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #ecebeb;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.searchResultWrapper:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 120px;
    border-width: 0 9px 9px 9px;
    border-style: solid;
    border-color: #ecebeb transparent;
    overflow-y: auto;
}
.searchResultWrapperHeader {
    font-weight: 600;
    height: 25px;
    margin-bottom: 2px;
    padding: 5px;
    border-bottom: 1px solid #e4e4e4;
}
.searchResultContainer {
    height: 220px;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
}
.searchResultContainer a {
    text-decoration: none;
    color: black;
}
.searchResultContainer a:hover {
    text-decoration: underline;
}

.resLineContainer {
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.resLineContainer img {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

@media screen and (max-width: 767px) {
    .Headerimgwrapper {
        margin-left: 2%;
    }
    .Header input {
        width: 100px;
    }
    .ProfileMenu {
        right: 2.7%;
    }
}
