.PostDetail {
    top: 100px;
    max-width: 1073px;
    min-width: 848px;
    min-height: 691px;
    max-height: 616px;
    font-size: 0.9em;
    color: #262626;
    border: 1px solid gray;
    background-color: white;
    position: fixed;
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.PostDetailHidden {
    display: none;
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
}
.detailImgContainer {
    width: 50%;
    overflow: hidden;
    margin: 10px;
    border-radius: 5px;
}
.detailImgContainer img {
    border: none;
    width: 100%;
}
.commentContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
.commentHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border-bottom: 1px solid rgb(214, 214, 214);
    height: 4em;
    padding-top: 10px;
}

.commentHeader button {
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 2em;
    margin: 2px;
}
.commentsDisplay {
    height: 580px;
}
.detailCmtContainer {
    height: 2em;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    font-size: 1.1em;
    padding: 0.25em;
}
.detailCmtContainer input {
    border: none;
    width: 90%;
    height: 3em;
}
.detailCmtContainer input::placeholder {
    text-align: left;
}
.detailCmtContainer a {
    padding: 6px;
    text-decoration: none;
    color: #0095f6;
    font-size: 1em;
}
.detailCmtContainer a:hover {
    text-decoration: underline;
    color: #0095f6;
}
.avatarContainer {
    margin: 0px 100px 0 10px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.avatarContainer img {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.singleCmt {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
}
.singleCmt:hover {
    background-color: aliceblue;
    border-radius: 5px;
}
.buttonContainer {
    display: flex;
    flex-direction: row;
}
.detailButton {
    font-size: 8px;
}
.commentsWrapper {
    display: flex;
    flex-direction: column-reverse;
}

@media screen and (max-width: 767px) {
    .PostDetail {
        top: 50px;
        max-width: 750px;
        min-width: 400px;
        width: 95%;
        flex-direction: column;
    }
    .detailImgContainer {
        top: 50px;
        height: 300px;
    }
    .commentContainer {
        width: 90%;
    }
    .commentsDisplay {
        height: 280px;
        overflow-y: auto;
    }
    .commentHeader {
        justify-content: left;
    }
}
